
<% if @movie.actors.any? %>
      <div class='col pt-5'>
        <% @movie.actors.each do |actor| %>
          <div class='movie_cast pt-3 border-bottom pb-2'>
            <%= image_tag url_for(actor.picture), class: 'rounded-circle' %>
            <%= actor.name %>
            <% if is_admin_signedin? %>
              <%= link_to fa_icon('minus-circle 2x', class: 'pull-right pt-5'), remove_actor_path(@movie.id, actor.id) %>
            <% end %>
          </div>
        <% end %>
      </div>
  <% end %>

<%= link_to fa_icon('plus-circle 3x'), '#', data: {toggle: 'modal', target: '#addActorModel'} %>
<!-- adding actors to a movie, Bootstrap Modal -->
<div class="modal fade" id="addActorModel" tabindex="-1" role="dialog" aria-labelledby="addActorlabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Actor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for :adding_actor, url: :add_actor do |form| %>
        <%= hidden_field_tag('movie_id', @movie.id) %>
        <div class="modal-body">
          <%= collection_select(:actor, :id, @actors_not_in_movie.all, :id, :name, {hide_label: true}, class: "form-control") %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= form.submit "Add Actor", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
