<%= form_with(model: @movie, id: 'movie_form', local:true, method: request_method) do |form| %>
  <% if @movie.present? && @movie.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h3>
        <ul>
          <% @movie.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>
  <div class='form-group'>
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= form.label :description %>
    <%= form.text_area :description, class: 'tinymce form-control', rows: 15, cols: 120 %>
    <%= tinymce %>
  </div>
  <div class='form-group'>
    <%= form.label :genre %>
    <%= form.text_field :genre, class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= form.label :release_date %>
    <%= form.date_field :release_date, start_year: Date.today.year - 50, class: 'form-control' %>
  </div>
  <div class='form-group'>
    <%= form.label :thumbnail %>
    <%= form.file_field :thumbnail, class: 'form-control', accept: 'image/*' %>
  </div>
  <% if request_method == :post %>
  <div class='form-group'>
    <%= form.label :posters %>
    <%= form.file_field :posters, multiple: true, class: 'form-control', accept: 'image/*' %>
  </div>
  <div class='form-group'>
    <%= form.label :trailer %>
    <%= form.file_field :trailer, class: 'form-control', accept: 'video/*' %>
  </div>
  <% end %>
  <%= form.submit submit_button_text, class: 'btn btn-primary mb-3' %>
<% end %>
