<%= form_with(model: @movie, local:true, method: request_method) do |form| %>
  <% if @movie.present? && @movie.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h3>
        <ul>
          <% @movie.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>

  <%= form.label :title %>
  <%= form.text_field :title %>
  <div class='clearfix'></div>
  <%= form.label :description %>
  <%= form.text_area :description, class: 'tinymce', rows: 15, cols: 120 %>
  <div class='clearfix'></div>
  <%= tinymce %>
  <%= form.label :genre %>
  <%= form.text_field :genre %>
  <div class='clearfix'></div>
  <%= form.label :release_date %>
  <%= form.date_field :release_date, start_year: Date.today.year - 50 %>
  <div class='clearfix'></div>
  <%= form.label :thumbnail %>
  <%= form.file_field :thumbnail %>
  <div class='clearfix'></div>
  <%= form.label :posters %>
  <%= form.file_field :posters, multiple: true %>
  <div class='clearfix'></div>
  <%= form.label :trailer %>
  <%= form.file_field :trailer %>
  <div class='clearfix'></div>
  <%= form.submit submit_button_text %>
  <div class='clearfix'></div>
<% end %>
