<%= form_with(model: @movie, local:true, method: request_method) do |form| %>
  <% if @movie.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@movie.errors.count, "error") %> prohibited this movie from being saved:</h3>
        <ul>
          <% @movie.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
    </div>
  <% end %>

  <%= form.label :title %>
  <%= form.text_field :title %></br></br>
  <%= form.label :description %>
  <%= form.text_area :description, class: 'tinymce', rows: 40, cols: 120 %>
  <%= tinymce %>
  <%= form.submit submit_button_text%></br>
<% end %>
