<div class='row'>
  <div class='col-lg-12'>
    <% if @movie.trailer.attached? %>
      <h2 class='pt-3'>Trailer<%= link_to fa_icon('minus-circle', class: 'pull-right pb-5'), remove_trailer_path(@movie.id) if admin_logged_in? %></h2>
      <div class='col-12 embed-responsive embed-responsive-16by9'>
        <%= video_tag rails_blob_path(@movie.trailer), controls: true, class: 'embed-responsive-item' %>
      </div>
    <% elsif admin_logged_in? %>
      <h3 class='pt-3'>Trailer<%= link_to fa_icon('plus-circle 2x'), '#', class: 'pull-right pb-5', data: {toggle: 'modal', target: '#addTrailerModel'} %></h3>
    <% end %>
  </div>
</div>

<div class='row'>
  <!-- displaying posters -->
  <h2 class='pt-3 col-lg-12'>Posters <%= link_to fa_icon('plus-circle 2x'), '#', class: 'pull-right pb-3', data: {toggle: 'modal', target: '#addPosterModel'} if admin_logged_in? %></h2>
  <% @movie.posters.each do |poster| %>
    <div class='col-lg-4'>
      <%= link_to fa_icon('minus-circle 2x', class: 'pull-right pb-2 pt-3'), remove_poster_path(@movie.id, poster.id) if admin_logged_in?%>
      <%= image_tag url_for(poster), class: 'img-fluid movie_poster' %>
    </div>
  <% end %>
</div>

<!-- Bootstrap modal to add Trailer -->
<div class="modal fade" id="addTrailerModel" tabindex="-1" role="dialog" aria-labelledby="addTrailerlabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Trailer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for :adding_trailer, url: :add_trailer do |form| %>
        <%= hidden_field_tag('id', @movie.id) %>
        <div class="modal-body">
          <%= form.file_field :trailer, class: 'form-control' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= form.submit "Add Trailer", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!-- Bootstrap modal to add poster -->
<div class="modal fade" id="addPosterModel" tabindex="-1" role="dialog" aria-labelledby="addPosterlabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Poster</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for :adding_poster, url: :add_poster do |form| %>
        <%= hidden_field_tag('id', @movie.id) %>
        <div class="modal-body">
          <%= form.file_field :posters, multiple: true, class: 'form-control' %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <%= form.submit "Add Poster", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
