<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
  <li class="nav-item">
    <%= link_to 'Home', home_index_path, class: 'nav-link' %>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="moviesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Movies
    </a>
    <div class="dropdown-menu p-0" aria-labelledby="moviesDropdown">
      <%= link_to 'Movies', movies_path, class: 'nav-link dropdown-item' %>
      <%= link_to 'Add Movie', new_movie_path, class: 'nav-link dropdown-item' %>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="actorsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Actors
    </a>
    <div class="dropdown-menu p-0" aria-labelledby="actorsDropdown">
      <%= link_to 'Actors', actors_path, class: 'nav-link dropdown-item' %>
      <%= link_to 'Add Actor', new_actor_path, class: 'nav-link dropdown-item' %>
    </div>
  </li>
  <li class="nav-item">
    <%= link_to 'Reported Reviews', reported_reviews_path, class: 'nav-link' %>
  </li>
</ul>
