<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
  <li class="nav-item">
    <%= link_to 'Home', home_index_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Movies', movies_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Add Movie', new_movie_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Actors', actors_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Add Actor', new_actor_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Reported Reviews', reported_reviews_path, class: 'nav-link' %>
  </li>
</ul>

<ul class='navbar-nav order-0 mr-5'>
  <li class="nav-item">
    <%= link_to 'Edit Profile', edit_user_registration_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
  </li>
</ul>
