<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <h2><%= link_to 'MovieApp', home_index_path, class: 'navbar-brand' %></h2>
    <%= render partial: 'shared/admin_navbar' if user_signed_in? && current_user.admin? %>
    <%= render partial: 'shared/user_navbar' if user_signed_in? && !current_user.admin? %>
    <% if user_signed_in? %>
      <ul class='navbar-nav order-0 mr-5'>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="moviesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.name %></a>
          <div class="dropdown-menu p-0" aria-labelledby="moviesDropdown">
            <%= link_to 'Profile', user_profile_path(current_user.id), class: 'nav-link dropdown-item' %>
            <%= link_to 'Edit Profile', edit_user_registration_path, class: 'nav-link dropdown-item' %>
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link dropdown-item' %>
          </div>
        </li>
      </ul>
    <% else %>
      <ul class='navbar-nav order-0 mr-5'>
        <li class="nav-item">
          <%= link_to 'Sign In', new_user_session_path, class: 'nav-link float-right' %>
        </li>
        <li class="nav-item float-right">
          <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
        </li>
      </ul>
    <% end %>
    </ul>
  </div>
</nav>
