<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <%= link_to 'Movie App', home_index_path, class: 'navbar-brand' %>
    <%= render partial: 'shared/admin_navbar' if user_signed_in? && current_user.admin? %>
    <%= render partial: 'shared/user_navbar' if user_signed_in? && !current_user.admin? %>
    <% if !user_signed_in? %>
      <ul class='navbar-nav order-0 mr-5'>
      <li class="nav-item">
        <%= link_to 'Sign In', new_user_session_path, class: 'nav-link float-right'%>
      </li>
      <li class="nav-item float-right">
        <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link'%>
      </li>
      </ul>
    <% end %>
    </ul>
  </div>
</nav>
