<div class='row'>
  <% @movies.each do |movie| %>
    <div class='col-lg-3 col-md-4 col-sm-2'>
      <div class='p-3'>
        <%= link_to movie_path(movie) do %>
          <div class='card p-0 border movie_card'>
            <%= image_tag url_for(movie.thumbnail), class: 'card-img-top movie_thumbnail img-fluid' %>
            <div class="middle">
              <div class="text font-weight-bold">
                <%= movie.genre %>
                <div class='clearfix'></div>
                  <%= movie.rating.round(1) %>
                </div>
            </div>
            <h6 class='pt-1 pl-2'><%= movie.title %></h6>
            <h6 class='pl-2'><%= (raw movie.release_date.year) %></h6>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
