<div class='row review-form-row <%= form_class %>'>
  <div class='col-lg-12'>
    <%= form_for object, url: path, remote: remote, method: request_method do |form| %>
      <div class='form-group'>
        <fieldset class="rating form-cntrol">
          <input type="radio" id="star5" name="rating" value="5" class='star' /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
          <input type="radio" id="star4" name="rating" value="4" class='star' /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
          <input type="radio" id="star3" name="rating" value="3" class='star' /><label class = "full" for="star3" title="Meh - 3 stars"></label>
          <input type="radio" id="star2" name="rating" value="2" class='star' /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
          <input type="radio" id="star1" name="rating" value="1" class='star' /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
        </fieldset>

      </div>
      <div class='clearfix'></div>
      <div class='form-group'>
        <%= form.label :comment %>
        <%= form.text_area :comment, name: :comment, class: 'form-control', placeholder: 'Write your comment here (optional)...' %>
      </div>

      <%= form.submit button_text, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
